doctype html
html(lang="en" data-theme="dark")
head
    link(
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    )
    link(
      href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css"
      rel="stylesheet"
      type="text/css"
    )
    script(src="https://cdn.tailwindcss.com")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    block head
body 
    if (user || currentUser)
        -console.log(currentUser)
        button(
                class="btn btn-info fixed top-2 left-[45%]"
                onclick="location.href='/message';"
            )
            span(class="material-symbols-outlined") add
            | POST A MESSAGE

        div(class="navbar bg-base-100")
            div(class="flex-1")
                a(class="btn btn-ghost text-xl" href="/") Message Board
            div(class="flex-none")
                ul(class="menu menu-horizontal px-1")
                    div(class="flex items-center")
                        case true
                            when (currentUser.isAdmin === true)
                                div(class="badge badge-error gap-2") Admin
                            when (currentUser.membershipStatus === 'active')
                                div(class="badge badge-success gap-2") Club Member
                            when (currentUser.membershipStatus === 'inactive')
                                div(class="badge badge-warning gap-2") Tourist
                    li 
                        a(href="/activation") Activate Account
                    li 
                        a(href="/log-out") Log out
    else
        div(class="navbar bg-base-100")
            div(class="flex-1")
                a(class="btn btn-ghost text-xl" href="/") Message Board
            div(class="flex-none")
                ul(class="menu menu-horizontal px-1")
                    li 
                        a(href="/sign-up") Sign up
                    li 
                        a(href="/login") Log in
        

    block content